<section class="block">
  <div class="block__header container">
    <h2 class="block__heading">Heading</h2>
    <p class="block__content">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia
      perspiciatis autem velit saepe deserunt vero necessitatibus laudantium
      reiciendis optio odit.
    </p>
  </div>
</section>
<section class="block block--dark block--skewed">
  <div class="block__header container">
    <h2 class="block__heading">Heading</h2>
    <p class="block__content">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia
      perspiciatis autem velit saepe deserunt vero necessitatibus laudantium
      reiciendis optio odit.
    </p>
  </div>
</section>
