<section class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h3 class="collapsible__heading">PRODUCTS</h3>
    <img
      class="icon icon--primary collapsible__chevron"
      src="images/chevron.svg"
      alt=""
    />
  </header>
  <div class="collapsible__content">WordPress Hosting</div>
</section>
<section class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h3 class="collapsible__heading">PRODUCTS</h3>
    <img
      class="icon icon--primary collapsible__chevron"
      src="images/chevron.svg"
      alt=""
    />
  </header>
  <div class="collapsible__content">WordPress Hosting</div>
</section>
