<section class="block container domain">
  <header class="block__header">
    <h2 class="block__heading domain__heading">
      The best webhosting Starting at per month
    </h2>
    <p class="block__content domain__content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, illo!
    </p>
    <div class="input-group input__shadow domain__input">
      <input
        class="input"
        type="text"
        placeholder="Enter domain name here . . ."
      />
      <button class="btn btn--info">
        <svg class="icon icon--white">
          <use xlink:href="/images/sprite.svg#search"></use></svg
        >Search
      </button>
    </div>
  </header>
  <ul class="list grid grid--2x3 domain__list">
    <li class="list__items">.com $9.26</li>
    <li class="list__items badge badge--secondary">.sg $7.91</li>
    <li class="list__items">.space $12.98</li>
    <li class="list__items">.info $14.15</li>
    <li class="list__items">.net $16.15</li>
    <li class="list__items">.xyz $10.15</li>
    <li class="list__items">More</li>
  </ul>
</section>
