<footer class="block block--dark footer">
  <div class="container grid footer__content">
    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h3 class="collapsible__heading block__heading">PRODUCTS</h3>
        <img
          class="icon icon--primary collapsible__chevron"
          src="images/chevron.svg"
          alt=""
        />
      </header>
      <div class="collapsible__content">
        <ul class="list footer__list">
          <li class="list__items"><a href="#">Website Hosting</a></li>
          <li class="list__items">
            <a href="#">Free Automated Wordpress</a>
          </li>
          <li class="list__items"><a href="#">Migrations</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h3 class="collapsible__heading block__heading">COMPANY</h3>
        <img
          class="icon icon--primary collapsible__chevron"
          src="images/chevron.svg"
          alt=""
        />
      </header>
      <div class="collapsible__content">
        <div class="collapsible__content">
          <ul class="list footer__list">
            <li class="list__items"><a href="#">About</a></li>
            <li class="list__items"><a href="#">Affiliates</a></li>
            <li class="list__items"><a href="#">Blog</a></li>
          </ul>
        </div>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h3 class="collapsible__heading block__heading">SUPPORT</h3>
        <img
          class="icon icon--primary collapsible__chevron"
          src="images/chevron.svg"
          alt=""
        />
      </header>
      <div class="collapsible__content">
        <div class="collapsible__content">
          <ul class="list footer__list">
            <li class="list__items"><a href="#">Contact</a></li>
            <li class="list__items"><a href="#">Knowledge Base</a></li>
            <li class="list__items"><a href="#">FAQ</a></li>
          </ul>
        </div>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h3 class="collapsible__heading block__heading">DOMAINS</h3>
        <img
          class="icon icon--primary collapsible__chevron"
          src="images/chevron.svg"
          alt=""
        />
      </header>
      <div class="collapsible__content">
        <div class="collapsible__content">
          <ul class="list footer__list">
            <li class="list__items"><a href="#">Domain Checker</a></li>
            <li class="list__items"><a href="#">Domain Transfer</a></li>
            <li class="list__items"><a href="#">Free Domain</a></li>
          </ul>
        </div>
      </div>
    </section>
    <div class="footer__brand">
      <img src="images/logo.png" alt="" />
      <p class="footer__copyright">Copyright 2020 Mosh Hamedani</p>
    </div>
  </div>
</footer>
